@model SIMHUKDIS.Models.ClsSatker

@{
    ViewBag.Title = "Edit";
    Layout = "/Views/Shared/_Layout.cshtml";
}
    
<div class="card-box mb-30">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Edit Satuan Kerja</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group" style="display:none;">
                @Html.Label("Kode Satuan Kerja", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.KODE_SATUAN_KERJA, new { htmlAttributes = new { @class = "form-control", @id = "KODE_SATUAN_KERJA", required = "required" } })
                    @Html.ValidationMessageFor(model => model.KODE_SATUAN_KERJA, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Satuan Kerja", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SATUAN_KERJA, new { htmlAttributes = new { @class = "form-control", @id = "SATUAN_KERJA", required = "required" } })
                    @Html.ValidationMessageFor(model => model.SATUAN_KERJA, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" class="btn btn-primary" onclick="Ubah()">Ubah</button> | @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function Ubah() {
        var dpObj = {
            KODE_SATUAN_KERJA: $('#KODE_SATUAN_KERJA').val(),
            SATUAN_KERJA: $('#SATUAN_KERJA').val()
        };
        $.ajax({
            url: "/Satker/Ubah",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Ubah Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "Satker")'
                }
                else {
                    if (result.toString() == "Satuan Kerja sudah ada !") {
                        $("#SATUAN_KERJA").val("");
                        $("#SATUAN_KERJA").focus();
                        Swal.fire({
                            icon: 'warning',
                            title: result.toString(),
                            showConfirmButton: false,
                            timer: 3000
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: result.toString(),
                            showConfirmButton: false,
                            timer: 3000
                        })
                    }
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'warning',
                    title: errormessage.responseText,
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
</script>
