@model IEnumerable<SIMHUKDIS.Models.Datum>

@{
    ViewBag.Title = "Master Satuan Kerja";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card-box mb-30">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Satuan Kerja</h6>
    </div>

    <div class="card-body">
        <div class="form-group">
            @if (@ViewBag.UserGroup == "01")
            {
            <input type="submit" value="Tambah Data" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Satker")'" />
            }
            else
            {
            <input type="submit" value="Tambah Data" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Satker")'" disabled/>
            }
            
        </div>
        <div class="pb-20">
            <table class="table hover data-table-export">
                <thead class="table table-primary" style="white-space:nowrap;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        <th>
                            Kode Satuan Kerja
                        </th>
                        <th>
                            Satuan Kerja
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-bordered table-hover my-3">
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { ID = item.KODE_SATUAN_KERJA }) |
                                <a href="#" onclick="Hapus('@item.KODE_SATUAN_KERJA')">Hapus</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KODE_SATUAN_KERJA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SATUAN_KERJA)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="HapusSatker" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Apakah Anda yakin untuk menghapus data ini ?</div>
            <div class="modal-footer">
                <label id="KODE_SATUAN_KERJA" name="KODE_SATUAN_KERJA"></label>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" onclick="HapusData()" value="Hapus" type="button" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Hapus(ID) {
        $('#KODE_SATUAN_KERJA').val(ID);
        $('#HapusSatker').modal('show');
    }
    function HapusData() {
        var dpObj = {
            ID: $('#KODE_SATUAN_KERJA').val()
            };
        $.ajax({
            url: "/Satker/Delete",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Hapus Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "Satker")'
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'warning',
                    title: errormessage.responseText,
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
</script>