<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Site favicon -->
    <link rel="icon" href="~/Content/Gambar/Logo SIMHUKDIS.png" type="image/x-icon" />
    <!-- Mobile Specific Metas -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/DeskApp/vendors/styles/core.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/DeskApp/vendors/styles/icon-font.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/DeskApp/src/plugins/datatables/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="~/Content/DeskApp/src/plugins/datatables/css/responsive.bootstrap4.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/DeskApp/vendors/styles/style.css" />
    @*<link href="~/Content/summernote/summernote-bs4.min.css" rel="stylesheet" />*@
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
            j.async = true;
            j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->
</head>
<body>
    @Html.Partial("_Loader")
    @Html.Partial("_Header")
    <div class="main-container">
        <div class="xs-pd-20-10 pd-ltr-20">
            @*<div class="title pb-20">
                <h2 class="h3 mb-0">@ViewBag.Title Overview</h2>
            </div>*@
            @RenderBody()
            @Html.Partial("_Footer")
        </div>
    </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @{ Html.RenderPartial("_Scripts", RenderSection("pagespecific", false)); }
</body>
</html>
