@model IEnumerable<SIMHUKDIS.Models.clsHukdis>
@{
    ViewBag.Title = "Hukuman Disiplin Master";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="card-box mb-30">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Master Hukuman Disiplin </h6>
    </div>

    <div class="card-body">
        <table>
            <tr>
                <td>
                    @if (@ViewBag.UserGroup == "01")
                    {
                    <button id="GridLoad" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" value="New" onclick="location.href='@Url.Action("Create", "Hukdis")'">
                        Tambah Data
                    </button>
                    }
                    else
                    {
                    <button id="GridLoad" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" value="New" onclick="location.href='@Url.Action("Create", "Hukdis")'" disabled>
                        Tambah Data
                    </button>
                    }
                    
                </td>
            </tr>
        </table>
        <div style="height: 15px"></div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width:100%; font-size:10pt;" cellspacing="0">
                <thead class="table table-primary" style="white-space: nowrap; text-align: center;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.ID)
                            </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.HukdisID)
                        </th>*@
                        <th>
                          Jenis Hukuman
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tingkat)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUser)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdate)
                        </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-bordered table-hover my-3">
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { ID = item.ID }) |
                                <a href="#" onclick="Hapus('@item.ID')">Hapus</a>
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.HukdisID)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.HukdisDesc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tingkat)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdate)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="HapusHukdis" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Apakah Anda yakin untuk menghapus data ini ?</div>
            <div class="modal-footer">
                <label id="ID" name="ID"></label>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" onclick="HapusData()" value="Hapus" type="button" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function Hapus(ID) {
        $('#ID').val(ID);
        $('#HapusHukdis').modal('show');
    }
    function HapusData() {
        var dpObj = {
            ID: $('#ID').val()
            };
        $.ajax({
            url: "/Hukdis/Delete",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Hapus Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "Hukdis")'
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: errormessage.responseText,
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
</script>