@model SIMHUKDIS.Models.clsPraDPK

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Pra Sidang Dewan Pertimbangan Kepegawaian</h6>
    </div>
        <div class="card-body">
            @using (Html.BeginForm("Proses", "PraDPK", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form>
                @Html.HiddenFor(model => model.ID)

                <div class="form-group row">
                    <div class="col">
                        @Html.LabelFor(model => model.NIP, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.NIP, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
                        @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        @Html.LabelFor(model => model.Catatan, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(model => model.Catatan, new { @type = "text", @id = "Catatan", @class = "form-control form-control-user", required = "required", rows = 5 })
                        @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        @Html.LabelFor(model => model.Tanggal_Sidang, htmlAttributes: new { @class = "control-label", Type = "Date" })
                        @Html.EditorFor(model => model.Tanggal_Sidang, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        @Html.LabelFor(model => model.Kode_JenisPelanggaran, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Kode_JenisPelanggaran, ViewBag.JenisPelanggaran as SelectList, new { @class = "form-control", required = "required", @id = "Kode_JenisPelanggaran" })
                        @Html.ValidationMessageFor(model => model.Kode_JenisPelanggaran, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Simpan" class="btn btn-primary"  />
                    </div>
                </div>
            </form>
            }
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {

            $("#Tanggal_Sidang").datepicker({
                format: 'dd-MM-yyyy', //'M Y',
                onSelect: function () {
                    $(this).change();
                }
            })
        });
    });
</script>