@model IEnumerable<SIMHUKDIS.Models.clsPraDPK>

@{
    ViewBag.Title = "Data Pra Sidang Dewan Pertimbangan Kepegawaian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Pra Sidang Dewan Pertimbangan Kepegawaian</h6>
    </div>
    @Html.ValidationSummary(true)
    <div class="card-body">
        <button id="downloadtoexcel" class="btn btn-primary btn-sm" type="button" name="action:DownloadToExcel">
            <span style="font-size:12px"> Download to Excel </span>
        </button>
        <div>
            <label style="height:10px"></label>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width:100%;" cellspacing="0">
                <thead class="table table-primary" style="white-space: nowrap; text-align: center;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        @*<th>
            No
        </th>*@
                        <th>
                            Identitas
                        </th>
                        <th>
                            Pasal Pelanggaran
                        </th>
                        <th>
                            Uraian Pelanggaran
                        </th>
                        <th>
                            Rekomendasi Hukdis
                        </th>
                        <th>
                            Tanggal Sidang
                        </th>
                        <th>
                            Catatan Pra Sidang DPK
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.PelanggaranDisiplin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasalPelanggaran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RekomendasiHukdis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoSurat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsalSurat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalSurat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perihal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATUAN_KERJA)
        </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                <a href="#" onclick="Update('@item.ID','@item.NIP','@item.Catatan','@item.Tanggal_Sidang')">Ubah</a>
                                <br />
                                <a href="#" onclick="SendData('@item.ID','@item.NIP')">Proses Sidang DPK</a>
                                
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.No)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                                <br />
                                @Html.DisplayFor(modelItem => item.NIP)
                                <br />
                                @Html.DisplayFor(modelItem => item.GOL_RUANG)
                                <br />
                                @Html.DisplayFor(modelItem => item.LEVEL_JABATAN)
                                <br />
                                @Html.DisplayFor(modelItem => item.AsalSurat)
                                <br />
                                @Html.DisplayFor(modelItem => item.DasarBukti)
                                <br />
                                @Html.DisplayFor(modelItem => item.perihal)
                                <br />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PasalPelanggaran)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PelanggaranDisiplin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RekomendasiHukdis)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tanggal_Sidang)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Catatan)
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="ProsesPraDPK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Catatan Pra DPK</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form">
                    <fieldset id="SubmitForm">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table style="border:0px solid black; width:100%">
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">ID</label>
                                            <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">NIP</label>
                                            <input type="text" class="form-control" id="NIP" name="NIP" placeholder="NIP" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="catatan">Tanggal Sidang</label>
                                            <input type="text" class="form-control" id="Tanggal_Sidang" name="Tanggal_Sidang" />
                                            @*@Html.TextBox("Tanggal_Sidang", "Tanggal_Sidang", new { @id = "Tanggal_Sidang", @class = "form-control input-md col-md-1", placeholder = "dd-mm-yyyy" })*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="catatan">Catatan</label>
                                            <textarea class="form-control" id="Catatan" rows="5" name="Catatan"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="Proses()">Proses</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ProsesSidangDPK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Apakah Anda yakin untuk mengirim data ini ?</div>
            <div class="form-group" style="display:none;">
                <div class="col">
                    <label for="ID">ID</label>
                    <input type="text" class="form-control" id="IDX" name="ID" placeholder="ID" disabled="disabled" />
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <div class="col">
                    <label for="ID">NIP</label>
                    <input type="text" class="form-control" id="NIPX" name="NIP" placeholder="NIP" disabled="disabled" />
                </div>
            </div>
            <div class="modal-footer">
                <label id="ID" name="ID"></label>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
                <input class="btn btn-primary" onclick="SendToDPK()" value="Kirim" type="button" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {

            $("#Tanggal_Sidang").datepicker({
                format: 'dd-MM-yyyy', //'M Y',
                onSelect: function () {
                    $(this).change();
                }
            })
        });
    });
    function Update(ID, NIP, Catatan, Tanggal_Sidang) {
        $('#ID').val(ID);
        $('#NIP').val(NIP);
        $('#Catatan').val(Catatan);
        $('#Tanggal_Sidang').val(Tanggal_Sidang);
        $('#ProsesPraDPK').modal('show');
    }
    function SendData(ID, NIP) {
        $('#IDX').val(ID);
        $('#NIPX').val(NIP);
        $('#ProsesSidangDPK').modal('show');
    }
    
    function SendToDPK() {
        var dpObj = {
            ID: $('#IDX').val(),
            NIP: $('#NIPX').val()
        };
        $.ajax({
            url: "/PraDPK/SendToDPK",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Kirim Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "PraDPK")'
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }                
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
                window.location.href = '@Url.Action("Index", "PraDPK")'
            }
        });
    }
    function Proses() {
        var dpObj = {
            ID: $('#ID').val(),
            NIP: $('#NIP').val(),
            Catatan: $('#Catatan').val(),
            Tanggal_Sidang: $('#Tanggal_Sidang').val()
        };
        $.ajax({
            url: "/PraDPK/Proses",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Update berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "PraDPK")'
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }                
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
                window.location.href = '@Url.Action("Index", "PraDPK")'
            }
        });
    }
    $(document).ready(function () {
    });
    $("#downloadtoexcel").click(function () {
                //var selectedRow = pBrand + "|" + pSoldTo + "|" + pCFC + "|" + pDistributor;
             window.location = '@Url.Action("DownloadToExcel2", "PraDPK")';
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
         });
</script>