@model IEnumerable<simhukdis.Models.clsDisposisi>
@{
    ViewBag.Title = "DISPOSISI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Disposisi Kepala Biro</h6>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table table-primary" style="white-space: nowrap; text-align: center;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        @*<th>
                            ID
                        </th>*@
                        <th>
                            No Surat
                        </th>
                        <th>
                            Asal Surat
                        </th>
                        <th>
                            Tanggal Surat
                        </th>
                        <th>
                            Perihal
                        </th>
                        <th>
                            Satker
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                    }
                    else
                    {
                        foreach (var r in Model)
                        {
                            <tr class="table-bordered table-hover my-3">
                                <td>
                                    <a href="#" onclick="getbyID('@r.ID')">Proses</a>
                                </td>
                                <td>
                                    @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                                </td>
                                <td>
                                    @r.AsalSurat
                                </td>
                                <td>
                                    @r.TanggalSurat
                                </td>
                                <td>
                                    @r.perihal
                                </td>
                                <td>
                                    @r.SATUAN_KERJA
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    
<div class="modal fade" id="ProsesDisposisi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Proses Surat Masuk</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form">
                    <fieldset id="SubmitForm">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table style="border:0px solid black; width:100%">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="Disposisi_Status">Proses</label>
                                            @Html.DropDownList("DisposisiStatus1", new List<SelectListItem>
                                                                                                {
                                                                                                    new SelectListItem{ Text = "TL", Value = "01" },
                                                                                                    new SelectListItem{ Text = "Lainnya", Value = "02" }
                                                                                                }, htmlAttributes: new { @class = "form-control", @id = "DisposisiStatus1" }
                                                                                            )
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="catatan">Catatan</label>
                                            <textarea class="form-control" id="Catatan1" rows="3" name="Catatan1"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="catatan">ID</label>
                                            <textarea class="form-control" id="ID1" rows="3" name="ID1"></textarea>
                                        </div>
                                    </div>
                                    @*<label id="ID1" name="ID1"></label>*@
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="ProsesDisposisi()">Proses</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getbyID(ID) {
        $.ajax({
            url: "/Disposisi/getbyID/" + ID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#ID1').val(result.ID);
                $('#ProsesDisposisi').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
    function ProsesDisposisi() {
            var dpObj = {
            ID: $('#ID1').val(),
            Catatan1: $('#Catatan1').val(),
                DisposisiStatus1 : $('#DisposisiStatus1').val()
            };
            $.ajax({
                url: "/Disposisi/Add",
                data: JSON.stringify(dpObj),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Disposisi berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "Disposisi")'
                },
                error: function (errormessage) {
                    Swal.fire({
                        icon: 'error',
                        title: errormessage.responseText,
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            });
        }
</script>
