@model SIMHUKDIS.Models.clsDisposisi

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.NoSurat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NoSurat, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
            @Html.ValidationMessageFor(model => model.NoSurat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AsalSurat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AsalSurat, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
            @Html.ValidationMessageFor(model => model.AsalSurat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TanggalSurat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TanggalSurat, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
            @Html.ValidationMessageFor(model => model.TanggalSurat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.perihal, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.perihal, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
            @Html.ValidationMessageFor(model => model.perihal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Satker, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Satker, new { htmlAttributes = new { @class = "form-control", @readonly = "True" } })
            @Html.ValidationMessageFor(model => model.Satker, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <Label class = "control-label col-md-2">Konseptor</Label>
        <div class="col-md-10">
            @Html.DropDownList("Konseptor", (SelectList)ViewBag.Konseptor, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Catatan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Catatan, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-success" style="background-color:teal;" /> | @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
