@model SIMHUKDIS.Models.suratmasuk

@{
    ViewBag.Title = "EDIT TELAAH";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">LAMPIRAN SURAT MASUK</h6>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col">
                    <label>No Surat</label>
                    @Html.TextBoxFor(model => model.NoSurat, "", new { @id = "NoSurat", @class = "form-control form-control-user", @readonly = "True" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="control-label ">Asal Surat</label>
                    @Html.TextBoxFor(model => model.AsalSurat, "", new { @id = "AsalSurat", @class = "form-control form-control-user", @readonly = "True" })
                </div>
                <div class="col-sm-6">
                    <label>Tanggal Surat</label>
                    @Html.TextBoxFor(model => model.TanggalSurat, "", new { @id = "TanggalSurat", @class = "form-control form-control-user", @readonly = "True" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="control-label ">Perihal</label>
                    @Html.TextBoxFor(model => model.perihal, "", new { @id = "perihal", @class = "form-control form-control-user", @readonly = "True" })
                </div>
                <div class="col-sm-6">
                    <label>Satuan Kerja</label>
                    @Html.TextBoxFor(model => model.SATUAN_KERJA, "", new { @id = "SATUAN_KERJA", @class = "form-control form-control-user", @readonly = "True" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="control-label ">Lampiran Surat Pengantar</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat1 == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat1, "DownloadFile1", new { fileName = Model.LampiranSurat1 })
                        }
                    </label>

                </div>
                <div class="col-sm-6">
                    <label>Lampiran BAP</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat2 == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat2, "DownloadFile2", new { fileName = Model.LampiranSurat2 })
                        }
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="control-label ">Lampiran Surat Tugas Pemeriksaan</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat3 == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat3, "DownloadFile3", new { fileName = Model.LampiranSurat3 })
                        }
                    </label>

                </div>
                <div class="col-sm-6">
                    <label>Lampiran Surat Panggilan</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat4 == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat4, "DownloadFile4", new { fileName = Model.LampiranSurat4 })
                        }
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="control-label ">Lampiran Surat Dokumen Lainnya</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat5 == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat5, "DownloadFile5", new { fileName = Model.LampiranSurat5 })
                        }
                    </label>

                </div>
                <div class="col-sm-6">
                    <label>Lampiran Putusan Pengadilan</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat6 == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat6, "DownloadFile6", new { fileName = Model.LampiranSurat6 })
                        }
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label class="control-label ">Lampiran LHA</label>
                    <label class="form-control form-control-user" style="height:65px;">
                        @if (Model.LampiranSurat_LHA == "")
                        {
                        }
                        else
                        {
                            @Html.ActionLink(Model.LampiranSurat_LHA, "DownloadFile7", new { fileName = Model.LampiranSurat_LHA })
                        }
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">1. IDENTITAS PEGAWAI NEGERI SIPIL</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0" style="display:none;">
                        <label class="control-label ">ID</label>
                        @Html.TextBox("ID", "", new { @id = "ID", @class = "form-control form-control-user", required = "required" })
                        @Html.ValidationMessage("ID", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">NIP</label>
                        @Html.TextBox("NIP", "", new { @id = "NIP", @class = "form-control form-control-user", required = "required", onchange = "getData()", onkeypress = "AllowOnlyNumbers()", @readonly = "True" })
                        @Html.ValidationMessage("NIP", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Nama Lengkap</label>
                        @Html.TextBox("NAMA_LENGKAP", "", new { @id = "NAMA_LENGKAP", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("NAMA_LENGKAP", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Pangkat, Golongan Ruang</label>
                        @Html.TextBox("GOL_RUANG", "", new { @id = "GOL_RUANG", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("GOL_RUANG", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Jabatan</label>
                        @Html.TextBox("LEVEL_JABATAN", "", new { @id = "LEVEL_JABATAN", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("LEVEL_JABATAN", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">Unit Kerja</label>
                        <textarea class="form-control" id="Satker" rows="5" name="Satker" readonly="readonly"></textarea>
                        @*@Html.TextArea("Satker", new { htmlAttributes = new { @class = "form-control", @id = "Satker" } })*@
                        @Html.ValidationMessage("Satker", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Tempat Lahir</label>
                        @Html.TextBox("TEMPAT_LAHIR", "", new { @id = "TEMPAT_LAHIR", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("TEMPAT_LAHIR", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Tanggal Lahir</label>
                        @Html.TextBox("TANGGAL_LAHIR", "", new { @type = "text", @id = "TANGGAL_LAHIR", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("TANGGAL_LAHIR", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Masa Kerja</label>
                        @Html.TextBox("MASAKERJA_TAHUN", "", new { @id = "MASAKERJA_TAHUN", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("MASAKERJA_TAHUN", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>TMT Pensiun</label>
                        @Html.TextBox("TMT_PENSIUN", "", new { @type = "text", @id = "TMT_PENSIUN", @class = "form-control form-control-user", required = "required", @readonly = "True" })
                        @Html.ValidationMessage("TMT_PENSIUN", "", new { @class = "text-danger" })
                    </div>
                </div>


            </form>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">2.DATA TELAAH</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">TELAAH NO.</label>
                        <input class="form-control" id="TelaahNo" rows="5" name="TelaahNo" type="text" disabled />
                        @Html.ValidationMessage("TelaahNo", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">A. TANGGAL TELAAH </label>
                        <input class="form-control" id="Tanggal_Telaah" name="Tanggal_Telaah" readonly />
                        @Html.ValidationMessage("Tanggal_Telaah", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">B. DASAR DAN BUKTI PENUNJANG </label>
                        <textarea class="form-control" id="DasarBukti" rows="5" name="DasarBukti"></textarea>
                        @Html.ValidationMessage("PelanggaranDisiplin", "Dipisahkan oleh ; dan enter apabila lebih dari satu pelanggaran.", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">C. PELANGGARAN DISIPLIN</label>
                        <textarea class="form-control" id="PelanggaranDisiplin" rows="5" name="PelanggaranDisiplin"></textarea>
                        @Html.ValidationMessage("PelanggaranDisiplin", "Dipisahkan oleh ; dan enter apabila lebih dari satu pelanggaran.", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">D.	PASAL PELANGGARAN</label>
                        <textarea class="form-control" id="PasalPelanggaran" rows="5" name="PasalPelanggaran"></textarea>
                        <label class="control-label">Contoh : Pasal 4 huruf d dan huruf f Peraturan Pemerintah Nomor 94 Tahun 2021 tentang Disiplin Pegawai Negeri Sipil</label>
                        @Html.ValidationMessage("PasalPelanggaran", "Dipisahkan oleh ; dan enter apabila lebih dari satu pasal pelanggaran.", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">E.	REKOMENDASI HUKUMAN  DISIPLIN</label>
                        <textarea class="form-control" id="RekomendasiHukdis" rows="5" name="RekomendasiHukdis"></textarea>
                        @Html.ValidationMessage("RekomendasiHukdis", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">F.	ANALISA DAN PERTIMBANGAN</label>
                        <textarea class="form-control" id="AnalisaPertimbangan" rows="5" name="AnalisaPertimbangan"></textarea>
                        @Html.ValidationMessage("AnalisaPertimbangan", "Dipisahkan oleh ; dan enter apabila lebih dari satu Analisa Pertimbangan.", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row" style="display:none;">
                    <div class="col">
                        <label class="control-label">G.	KEPUTUSAN SIDANG DEWAN PERTIMBANGAN KEPEGAWAIAN</label>
                        <textarea class="form-control" id="KeputusanSidangDPK" rows="5" name="KeputusanSidangDPK"></textarea>
                        @Html.ValidationMessage("KeputusanSidangDPK", "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="form-group row">
                        <div class="col">
                            <label class="control-label ">H. UPLOAD HASIL TELAAH *</label>
                            @Html.TextBox("FileTelaah", "", new { @type = "file", @id = "FileTelaah", @class = "form-control form-control-user", accept = "application/pdf" })
                            @Html.ValidationMessage("FileTelaah", "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Simpan" class="btn btn-primary" onclick="Update()" /> | @Html.ActionLink("Back to List", "Index")
                        @*<button type="button" id="InsertData" class="btn btn-success" style="background-color:teal;"></button> | @Html.ActionLink("Back to List", "Index")*@
                    </div>
                </div>
            </form>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var NIP = '@ViewBag.NIP';
        getData('@ViewBag.NIP');
        GetTelaah('@ViewBag.ID','@ViewBag.NIP');
    });
    function AllowOnlyNumbers(e) {

        e = (e) ? e : window.event;
        var clipboardData = e.clipboardData ? e.clipboardData : window.clipboardData;
        var key = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
        var str = (e.type && e.type == "paste") ? clipboardData.getData('Text') : String.fromCharCode(key);

        return (/^\d+$/.test(str));
    }
    function GetTelaah(ID, NIP)
    {
        var x = ID;
        var y = NIP;

        $.ajax({
            url: "/Telaah/GetTelaah?",
            cache: false,
            data: ({ ID: x, NIP:y }),
            type: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#TelaahNo').val(result[0].TelaahNo);
                $('#Tanggal_Telaah').val(result[0].Tanggal_Telaah);
                $('#DasarBukti').val(result[0].DasarBukti);
                $('#PelanggaranDisiplin').val(result[0].PelanggaranDisiplin);
                $('#PasalPelanggaran').val(result[0].PasalPelanggaran);
                $('#RekomendasiHukdis').val(result[0].RekomendasiHukdis);
                $('#AnalisaPertimbangan').val(result[0].AnalisaPertimbangan);

            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: errormessage.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
        return false;
    }
    function getData(NIP) {
        var a = NIP;
        $.ajax({
            type: "GET",
            url: "/Telaah/GetPegawai?",
            cache: false,
            data: ({ NIP: a }),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#NAMA_LENGKAP').val(result.NAMA_LENGKAP);
                $('#GOL_RUANG').val(result.GOL_RUANG);
                $('#LEVEL_JABATAN').val(result.LEVEL_JABATAN);
                $('#Satker').val(result.SATUAN_KERJA);
                $('#TEMPAT_LAHIR').val(result.TEMPAT_LAHIR);
                $('#TANGGAL_LAHIR').val(result.TANGGAL_LAHIR);
                $('#MASAKERJA_TAHUN').val(result.MASAKERJA_TAHUN);
                $('#TMT_PENSIUN').val(result.TMT_PENSIUN);
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: errormessage.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
        return false;
    }
    function Update()
    {
        var InputID = $('#ID').val();
        var dpObj = {
            ID: $('#ID').val(),
            NIP: $('#NIP').val(),
            NAMA_LENGKAP: $('#NAMA_LENGKAP').val(),
            GOL_RUANG: $('#GOL_RUANG').val(),
            LEVEL_JABATAN: $('#LEVEL_JABATAN').val(),
            SATUAN_KERJA: $('#SATUAN_KERJA').val(),
            TEMPAT_LAHIR: $('#TEMPAT_LAHIR').val(),
            TANGGAL_LAHIR: $('#TANGGAL_LAHIR').val(),
            MASAKERJA_TAHUN: $('#MASAKERJA_TAHUN').val(),
            TANGGAL_LAHIR: $('#TANGGAL_LAHIR').val(),
            TMT_PENSIUN: $('#TMT_PENSIUN').val(),
            DasarBukti: $('#DasarBukti').val(),
            PelanggaranDisiplin: $('#PelanggaranDisiplin').val(),
            PasalPelanggaran: $('#PasalPelanggaran').val(),
            RekomendasiHukdis: $('#RekomendasiHukdis').val(),
            AnalisaPertimbangan: $('#AnalisaPertimbangan').val(),
            KeputusanSidangDPK: $('#KeputusanSidangDPK').val(),
            TelaahNo: $('#TelaahNo').val(),
            Tanggal_Telaah: $('#Tanggal_Telaah').val()
        };
        $.ajax({
            url: "/Telaah/UpdateData",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    //Swal.fire({
                    //    icon: 'success',
                    //    title: 'Telaah berhasil !',
                    //    showConfirmButton: false,
                    //    timer: 30000
                    //})
                    
                    GenerateWord();
                   
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 30000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
    function UploadTelaah()
    {
        var fileUpload = $("#FileTelaah").get(0);
        var files = fileUpload.files;

        // Create FormData object
        var fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }


        $.ajax({
            url: '/Telaah/UploadFiles',
            type: "POST",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            data: fileData,
            success: function (result) {
                
                var dpObj = {
                    ID: $('#ID').val(),
                    NIP: $('#NIP').val(),
                    NAMA_LENGKAP: $('#NAMA_LENGKAP').val(),
                    GOL_RUANG: $('#GOL_RUANG').val(),
                    LEVEL_JABATAN: $('#LEVEL_JABATAN').val(),
                    SATUAN_KERJA: $('#SATUAN_KERJA').val(),
                    TEMPAT_LAHIR: $('#TEMPAT_LAHIR').val(),
                    TANGGAL_LAHIR: $('#TANGGAL_LAHIR').val(),
                    MASAKERJA_TAHUN: $('#MASAKERJA_TAHUN').val(),
                    TANGGAL_LAHIR: $('#TANGGAL_LAHIR').val(),
                    TMT_PENSIUN: $('#TMT_PENSIUN').val(),
                    DasarBukti: $('#DasarBukti').val(),
                    PelanggaranDisiplin: $('#PelanggaranDisiplin').val(),
                    PasalPelanggaran: $('#PasalPelanggaran').val(),
                    RekomendasiHukdis: $('#RekomendasiHukdis').val(),
                    AnalisaPertimbangan: $('#AnalisaPertimbangan').val(),
                    KeputusanSidangDPK: $('#KeputusanSidangDPK').val(),
                    FileTelaah: result
                };
                $.ajax({
                    url: "/Telaah/UpdateData",
                    data: JSON.stringify(dpObj),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result.toString() == "Success") {
                            Swal.fire({
                                icon: 'success',
                                title: 'Telaah berhasil !',
                                showConfirmButton: false,
                                timer: 3000
                            })
                            window.location.href = '@Url.Action("Index", "Telaah")'
                        }
                        else {
                            Swal.fire({
                                icon: 'error',
                                title: result.toString(),
                                showConfirmButton: false,
                                timer: 3000
                            })
                        }
                    },
                    error: function (errormessage) {
                        Swal.fire({
                            icon: 'error',
                            title: result.toString(),
                            showConfirmButton: false,
                            timer: 3000
                        })
                    }
                });
            },
            error: function (err) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
    function DownloadPDF(fileName1, fileName2) {
        window.location = '@Url.Action("DownloadFile", "Telaah")?fileName=' + fileName1;
        window.location = '@Url.Action("DownloadFile", "Telaah")?fileName=' + fileName2;

    }
    function GenerateWord()
    {
       
        var dpObj = {
            ID: $('#ID').val(),
            NIP: $('#NIP').val(),
            NAMA_LENGKAP: $('#NAMA_LENGKAP').val(),
            GOL_RUANG: $('#GOL_RUANG').val(),
            LEVEL_JABATAN: $('#LEVEL_JABATAN').val(),
            SATUAN_KERJA: $('#SATUAN_KERJA').val(),
            TEMPAT_LAHIR: $('#TEMPAT_LAHIR').val(),
            TANGGAL_LAHIR: $('#TANGGAL_LAHIR').val(),
            MASAKERJA_TAHUN: $('#MASAKERJA_TAHUN').val(),
            TANGGAL_LAHIR: $('#TANGGAL_LAHIR').val(),
            TMT_PENSIUN: $('#TMT_PENSIUN').val(),
            DasarBukti: $('#DasarBukti').val(),
            PelanggaranDisiplin: $('#PelanggaranDisiplin').val(),
            PasalPelanggaran: $('#PasalPelanggaran').val(),
            RekomendasiHukdis: $('#RekomendasiHukdis').val(),
            AnalisaPertimbangan: $('#AnalisaPertimbangan').val(),
            KeputusanSidangDPK: $('#KeputusanSidangDPK').val(),
            Tanggal_Telaah: $('#Tanggal_Telaah').val(),
            Telaah_No: $('#TelaahNo').val()
        };
        $.ajax({
            url: "/Telaah/GenerateWord2",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                
                DownloadPDF(result.DocPDF, result.DocWord);
                //DownloadPDF(result.DocWord);
                if (result.Msg.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Telaah berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
</script>
