@{
    ViewBag.Title = "Buat SK";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-box mb-30">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">1. IDENTITAS PEGAWAI NEGERI SIPIL</h6>
        </div>

        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">NIP</label>
                        @Html.TextBox("NIP", "", new { @id = "NIP", @class = "form-control", required = "required", onchange = "getData()", onkeypress = "AllowOnlyNumbers()" })
                        @Html.ValidationMessage("NIP", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Nama Lengkap</label>
                        @Html.TextBox("FullName", "", new { @id = "NAMA_LENGKAP", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("NAMA_LENGKAP", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Pangkat, Golongan Ruang</label>
                        @Html.TextBox("GOL_RUANG", "", new { @id = "GOL_RUANG", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("GOL_RUANG", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Jabatan</label>
                        @Html.TextBox("LEVEL_JABATAN", "", new { @id = "LEVEL_JABATAN", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("LEVEL_JABATAN", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">Unit Kerja</label>
                        @Html.TextArea("SATUAN_KERJA", new { @type = "text", @id = "Satker", @class = "form-control", required = "required", rows = 5 })
                        @Html.ValidationMessage("Satker", "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Tempat Lahir</label>
                        @Html.TextBox("TEMPAT_LAHIR", "", new { @id = "TEMPAT_LAHIR", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("TEMPAT_LAHIR", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>Tanggal Lahir</label>
                        @Html.TextBox("TANGGAL_LAHIR", "", new { @id = "TANGGAL_LAHIR", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("TANGGAL_LAHIR", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Masa Kerja</label>
                        @Html.TextBox("MK_TAHUN", "", new { @id = "MK_TAHUN", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("MK_TAHUN", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6">
                        <label>TMT Pensiun</label>
                        @Html.TextBox("TMT_PENSIUN", "", new { @id = "TMT_PENSIUN", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("TMT_PENSIUN", "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row" style="display:none;">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Unit Satker</label>
                        @Html.TextBox("satker3", "", new { @id = "satker3", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("satker3", "", new { @class = "text-danger" })
                        <label class="control-label ">Satuan Kerja 1</label>
                        @Html.TextBox("SATKER_1", "", new { @id = "SATKER_1", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("SATKER_1", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Satuan Kerja 2</label>
                        @Html.TextBox("SATKER_2", "", new { @id = "SATKER_2", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("SATKER_2", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row" style="display:none;">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Satuan Kerja 3</label>
                        @Html.TextBox("SATKER_3", "", new { @id = "SATKER_3", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("SATKER_3", "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Satuan Kerja 4</label>
                        @Html.TextBox("SATKER_4", "", new { @id = "SATKER_4", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("SATKER_4", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row" style="display:none;">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <label class="control-label ">Satuan Kerja 5</label>
                        @Html.TextBox("SATKER_5", "", new { @id = "SATKER_5", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("SATKER_5", "", new { @class = "text-danger" })
                    </div>
                    @*<div class="col-sm-6 mb-3 mb-sm-0">
                            <label class="control-label ">Satuan Kerja</label>
                            @Html.TextBox("SATUAN_KERJA", "", new { @id = "SATUAN_KERJA", @class = "form-control", required = "required" })
                            @Html.ValidationMessage("SATUAN_KERJA", "", new { @class = "text-danger" })
                        </div>*@
                </div>
                <div class="form-group row" style="display:none;">
                    <div class="col">
                        <label class="control-label ">Satuan Kerja</label>
                        @Html.TextBox("SATUAN_KERJA", "", new { @id = "SATUAN_KERJA", @class = "form-control", required = "required" })
                        @Html.ValidationMessage("SATUAN_KERJA", "", new { @class = "text-danger" })
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="card-box mb-30">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">2.DATA KEPUTUSAN</h6>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">A. NO SURAT</label>
                        @Html.DropDownList("NoSurat", ViewBag.SuratNo as SelectList, new { @class = "custom-select2 form-control", required = "required", @id = "NoSurat", onchange = "getMengingat()" })
                        @Html.ValidationMessage("NoSurat", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">B. MENGINGAT POIN A</label>
                        @Html.TextArea("DasarBukti", new { @type = "text", @id = "DasarBukti", @class = "form-control", required = "required", rows = 5 })
                        @Html.ValidationMessage("DasarBukti", "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label class="control-label">C. KEPUTUSAN</label>
                        @Html.Label("Keputusan Sidang", htmlAttributes: new { @class = "control-label" })

                        @Html.DropDownList("KeputusanSidang", ViewBag.Hukdis as SelectList, new { @class = "custom-select2 form-control", required = "required", @id = "KeputusanSidang" })
                        @Html.ValidationMessage("KeputusanSidang", "", new { @class = "text-danger" })
                    </div>
                </div>
            </form>
            <div class="form-group row">
                <div class="col">
                    <input type="submit" value="Tambah Data" class="btn btn-primary" onclick="UbahData()" />
                    <input type="submit" value="Buat SK" class="btn btn-primary" onclick="BuatSK()" />
                </div>
            </div>
        </div>

    </div>


}
<script src="/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
                
    });
    function AllowOnlyNumbers(e) {

        e = (e) ? e : window.event;
        var clipboardData = e.clipboardData ? e.clipboardData : window.clipboardData;
        var key = e.keyCode ? e.keyCode : e.which ? e.which : e.charCode;
        var str = (e.type && e.type == "paste") ? clipboardData.getData('Text') : String.fromCharCode(key);

        return (/^\d+$/.test(str));
    }
    @*function getTembusan() {
        var satkerx = '@ViewBag.SatuanKerja';
        var satker3 = $("#SATKER_3").val();
        alert(satker3);
        $.ajax({
            type: "GET",
            url: "/HasilSidang/GetTembusan?",
            cache: false,
            data: ({ Satker: satkerx, Satker3: satker3 }),
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#Tembusan').val(result.Tembusan);
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: "Tembusan tidak ditemukan",
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
        return false;
    }*@
    function getData() {
    var NIP = $('#NIP').val();
    $.ajax({
        type: "GET",
        url: "/Telaah/GetPegawai?",
        cache: false,
        data: ({ NIP: NIP }),
        contentType: "application/json;charset=UTF-8",
        dataType: "json",
        success: function (result) {
            $('#NAMA_LENGKAP').val(result.NAMA_LENGKAP);
            $('#GOL_RUANG').val(result.GOL_RUANG);
            $('#LEVEL_JABATAN').val(result.TAMPIL_JABATAN);
            $('#Satker').val(result.SATKER_3);
            $('#TEMPAT_LAHIR').val(result.TEMPAT_LAHIR);
            $('#TANGGAL_LAHIR').val(result.TANGGAL_LAHIR);
            $('#MK_TAHUN').val(result.MK_TAHUN);
            $('#TMT_PENSIUN').val(result.TMT_PENSIUN);
            var satker3 = result.SATKER_3;
        },
        error: function (errormessage) {
            Swal.fire({
                icon: 'error',
                title: "NIP tidak ditemukan",
                showConfirmButton: false,
                timer: 3000
            })
        }
    });
    return false;
    }
    function BuatSK() {
        UbahData();
        //GenerateSK();
    }
    function UbahData() {
        //alert("UbahData");
        var dpObj = {
            NIP: $('#NIP').val(),
            KeputusanSidang: $('#KeputusanSidang').val(),
            Mengingat: $('#DasarBukti').val(),
            NoSurat: $('#NoSurat').val(),
            NAMA_LENGKAP: $('#NAMA_LENGKAP').val()
        };
        $.ajax({
        url: "/HasilSidang/Insert",
        data: JSON.stringify(dpObj),
        type: "POST",
        contentType: "application/json;charset=utf-8",
        dataType: "json",
        success: function (result) {
            if (result.toString() == "Success") {
                GenerateSK();
                //GenerateWord();
                //alert(result.toString());
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        },
        error: function (errormessage) {
            Swal.fire({
                icon: 'error',
                title: result.toString(),
                showConfirmButton: false,
                timer: 3000
            })
        }
        });
    }

    function GenerateSK()
    {
        var dpObj = {
            ID: $('#NoSurat').val(),
            NIP: $('#NIP').val(),
            NAMA_LENGKAP: $('#NAMA_LENGKAP').val(),
            KeputusanSidang: $('#KeputusanSidang').val(),
            GOL_RUANG: $('#GOL_RUANG').val(),
            LEVEL_JABATAN: $('#LEVEL_JABATAN').val(),
            Satker: $('#Satker').val()
        };
        $.ajax({
            url: "/HasilSidang/GenerateSK",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                DownloadPDF(result.DocPDF, result.DocWord);
                if (result.Msg.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'SK berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: errormessage,
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
            function DownloadPDF(fileName1, fileName2) {
        window.location = '@Url.Action("DownloadFile", "HasilSidang")?fileName=' + fileName1;
        window.location = '@Url.Action("DownloadFile", "HasilSidang")?fileName=' + fileName2;

    }
</script>
