@model IEnumerable<SIMHUKDIS.Models.clsHasilSidang>

@{
    ViewBag.Title = "Data Hasil Sidang";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="card-box mb-30">
    <div class="pd-20">
        <p style="text-align:right;">
            <button id="GridLoad" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" value="New" onclick="location.href='@Url.Action("BuatSK", "HasilSidang")'">
                Tambah Data
            </button>
        </p>
        <table class="table hover data-table-export">
            <thead class="table table-primary" style="white-space:nowrap;">
                <tr>
                    <th>
                        Aksi
                    </th>
                    @*<th>
                    No
                </th>*@
                    <th>
                        Identitas
                    </th>
                    @*<th>
                    Pasal Pelanggaran
                </th>
                <th>
                    Uraian Pelanggaran
                </th>
                <th>
                    Rekomendasi Hukdis
                </th>*@
                    @*<th>
                    Tanggal Pra Sidang DPK
                </th>
                <th>
                    Catatan Pra Sidang DPK
                </th>*@
                    <th>
                        Tanggal Sidang DPK
                    </th>
                    <th>
                        Keputusan Sidang
                    </th>
                    <th>
                        Catatan Sidang
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.ActionLink("BUAT SK", "Create", new { ID = item.ID, NIP = item.NIP })
                            @Html.ActionLink("Penyampaian Hasil", "KirimData", new { ID = item.ID, NIP = item.NIP })

                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.No)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                            <br />
                            @Html.DisplayFor(modelItem => item.NIP)
                            @*<br />
                        @Html.DisplayFor(modelItem => item.GOL_RUANG)
                        <br />
                        @Html.DisplayFor(modelItem => item.LEVEL_JABATAN)
                        <br />
                        @Html.DisplayFor(modelItem => item.AsalSurat)
                        <br />
                        @Html.DisplayFor(modelItem => item.DasarBukti)
                        <br />
                        @Html.DisplayFor(modelItem => item.perihal)
                        <br />*@
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.PasalPelanggaran)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PelanggaranDisiplin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RekomendasiHukdis)
                    </td>*@
                        @*<td>
                        @Html.DisplayFor(modelItem => item.Tanggal_Sidang_Pra_DPK)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Catatan_Pra_DPK)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Tanggal_Sidang_DPK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hukuman)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Catatan_Sidang)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>