@model IEnumerable<SIMHUKDIS.Models.clsHasilSidang>

@{
    ViewBag.Title = "Data Hasil Sidang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Hasil Sidang</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width:100%;" cellspacing="0">
                <thead class="table table-primary" style="white-space: nowrap; text-align: center;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        @*<th>
                    No
                </th>*@
                        <th>
                            Identitas
                        </th>
                        @*<th>
                            Pasal Pelanggaran
                        </th>
                        <th>
                            Uraian Pelanggaran
                        </th>
                        <th>
                            Rekomendasi Hukdis
                        </th>*@
                        @*<th>
                            Tanggal Pra Sidang DPK
                        </th>
                        <th>
                            Catatan Pra Sidang DPK
                        </th>*@
                        <th>
                            Tanggal Sidang DPK
                        </th>
                        <th>
                            Keputusan Sidang
                        </th>
                        <th>
                            Catatan Sidang
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.ActionLink("BUAT SK", "Create", new { ID = item.ID, NIP = item.NIP })
                                @Html.ActionLink("Penyampaian Hasil", "KirimData", new { ID = item.ID, NIP = item.NIP })
                                
                            </td>
                            @*<td>
                        @Html.DisplayFor(modelItem => item.No)
                    </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                                <br />
                                @Html.DisplayFor(modelItem => item.NIP)
                                @*<br />
                                @Html.DisplayFor(modelItem => item.GOL_RUANG)
                                <br />
                                @Html.DisplayFor(modelItem => item.LEVEL_JABATAN)
                                <br />
                                @Html.DisplayFor(modelItem => item.AsalSurat)
                                <br />
                                @Html.DisplayFor(modelItem => item.DasarBukti)
                                <br />
                                @Html.DisplayFor(modelItem => item.perihal)
                                <br />*@
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.PasalPelanggaran)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PelanggaranDisiplin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RekomendasiHukdis)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Tanggal_Sidang_Pra_DPK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Catatan_Pra_DPK)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Tanggal_Sidang_DPK)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.hukuman)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Catatan_Sidang)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>