@model IEnumerable<SIMHUKDIS.Models.clsUserLogin>
@{
    ViewBag.Title = "USER";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="pd-20 card-box mb-30">
    <div class="form-group">
        <p style="text-align:right;">
            @if (@ViewBag.UserGroup == "01")
            {
                <input type="submit" value="Buat Baru" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "User")'" />
                <input type="button" value="Download Excel" class="btn btn-primary" id="downloadtoexcel" />
            }
            else
            {
                <input type="submit" value="Buat Baru" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "User")'" disabled />
                <input type="button" value="Download Excel" class="btn btn-primary" id="downloadtoexcel" disabled />
            }
        </p>
        
    </div>
    <div class="pb-20">
        <table class="table hover data-table-export" cellspacing="0">
            <thead class="table table-primary" style="white-space:nowrap;">
                <tr>
                    <th>
                        Aksi
                    </th>
                    @*<th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.NIP)
                    </th>
                    @*<th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>*@
                    <th>
                        Nama Lengkap
                    </th>
                    <th>
                        Unit Kerja
                    </th>
                    <th>
                        Jabatan
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusAdmin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastLogin)
                    </th>
                    <th>
                        User Group
                    </th>
                    @*<th style="display:none;">
                        @Html.DisplayNameFor(model => model.LastUser)
                    </th>
                    <th style="display:none;">
                        Kode Status Admin
                    </th>*@
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="table-bordered table-hover my-3">
                        <td>
                            @*<button type="button" class="btn btn-primary"><i class="fa fa-eye-slash"></i></button>
                            <button type="button" class="btn btn-success"><i class="fa fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>*@
                            @Html.ActionLink("Edit", "Edit", new { UserID = item.UserID, StatusAdmin = item.KodeStatusAdmin, GroupID = item.GroupID, Satker = item.Satker }) |
                            <a href="#" onclick="Hapus('@item.UserID','@item.NIP')">Hapus</a>
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.UserID)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.NIP)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Satuan_Kerja)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LEVEL_JABATAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StatusAdmin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastLogin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupDesc)
                        </td>
                        @*<td style="display:none;">
                            @Html.DisplayFor(modelItem => item.LastUser)
                        </td>
                        <td style="display:none;">
                            @Html.DisplayFor(modelItem => item.KodeStatusAdmin)
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- /.container-fluid -->
<!-- DataTales Example -->

<div class="modal fade" id="DeleteUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Apakah Anda yakin untuk menghapus data ini ?</div>
            <div class="modal-footer">
                <label id="UserID" name="UserID" style="display:none;"></label>
                <label id="NIP" name="NIP" style="display:none;"></label>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" onclick="HapusData()" value="Hapus" type="button" />
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
     $("#downloadtoexcel").click(function () {
             window.location = '@Url.Action("DownloadToExcel2", "User")';

         });
    function Hapus(ID, NIP) {
        $('#UserID').val(ID);
        $('#NIP').val(NIP);
        $('#DeleteUser').modal('show');
    }
    function HapusData() {
        var dpObj = {
            UserID: $('#UserID').val(),
            NIP: $('#NIP').val()
            };
        $.ajax({
            url: "/User/Delete",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Hapus Data berhasil !',
                        showConfirmButton: false,
                        timer: 15000
                    })
                    window.location.href = '@Url.Action("Index", "User")'
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 15000
                    })
                    window.location.href = '@Url.Action("Index", "User")'
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'warning',
                    title: errormessage.responseText,
                    showConfirmButton: false,
                    timer: 15000
                })
            }
        });
    }
</script>