@model IEnumerable<SIMHUKDIS.Models.clsDPK>

@{
    ViewBag.Title = "Data Sidang Dewan Pertimbangan Kepegawaian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Data Sidang Dewan Pertimbangan Kepegawaian</h6>
    </div>
    <div class="card-body">
        <p style="text-align:left;">
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label style="color:cornflowerblue;" class="control-label ">Tanggal SIdang</label>
                        </td>
                        <td style="width:20px;"> </td>
                        <td>
                            <input id="TanggalSidang" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", ViewBag.TanggalSidang)" type="date" />
                        </td>
                        <td style="width:20px;"> </td>
                        <td>
                            <button class="btn btn-primary" type="button" id="GridLoad">
                                Cari
                            </button>
                        </td>
                        <td style="width:20px;"> </td>
                        <td>
                            <button id="downloadtoexcel" class="btn btn-primary" type="button" name="action:DownloadToExcel">
                                Download to Excel
                            </button>
                        </td>
                        
                    </tr>
                    @*<tr>
                        <td>
                            <label style="color:cornflowerblue;" class="control-label ">Tanggal Surat</label>
                        </td>
                        <td style="width:20px;"> </td>
                        <td>
                            <input id="TanggalSuratFrom" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", ViewBag.DateFrom)" type="date" />
                        </td>
                        <td style="color:cornflowerblue;" class="control-label ">s/d</td>
                        <td>
                            <input id="TanggalSuratTo" class="form-control" value="@string.Format("{0:dd-MM-yyyy}", ViewBag.DateTo)" type="date" />
                        </td>
                        <td style="width:20px;"> </td>
                        <td>
                            <button class="btn btn-primary" type="button" id="GridLoad">
                                Cari
                            </button>
                        </td>
                    </tr>*@
                </table>
                <hr />
            </div>
        </p>
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" style="width:100%;" cellspacing="0">
                <thead class="table table-primary" style="white-space: nowrap; text-align: center;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        @*<th>
            No
        </th>*@
                        <th>
                            Identitas
                        </th>
                        <th>
                            Pasal Pelanggaran
                        </th>
                        <th>
                            Uraian Pelanggaran
                        </th>
                        <th>
                            Rekomendasi Hukdis
                        </th>
                        <th>
                            Tanggal Pra Sidang DPK
                        </th>
                        <th>
                            Catatan Pra Sidang DPK
                        </th>
                        <th>
                            Tanggal Sidang DPK
                        </th>
                        <th>
                            Keputusan Sidang
                        </th>
                        <th>
                            Catatan Sidang
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.PelanggaranDisiplin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasalPelanggaran)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RekomendasiHukdis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoSurat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsalSurat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TanggalSurat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.perihal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SATUAN_KERJA)
        </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                    <tr>
                        <td>
                            <a href="#" onclick="Update('@item.ID','@item.NIP','@item.KeputusanSidang','@item.Tanggal_Sidang_DPK','@item.Catatan_Sidang')">Ubah</a>
                            <br />
                            <br />
                            <a href="#" onclick="SendData('@item.ID','@item.NIP')">Proses Hasil Sidang DPK</a>

                        </td>
                        @*<td>
            @Html.DisplayFor(modelItem => item.No)
        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                            <br />
                            @Html.DisplayFor(modelItem => item.NIP)
                            <br />
                            @Html.DisplayFor(modelItem => item.GOL_RUANG)
                            <br />
                            @Html.DisplayFor(modelItem => item.LEVEL_JABATAN)
                            <br />
                            @Html.DisplayFor(modelItem => item.AsalSurat)
                            <br />
                            @Html.DisplayFor(modelItem => item.DasarBukti)
                            <br />
                            @Html.DisplayFor(modelItem => item.perihal)
                            <br />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PasalPelanggaran)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PelanggaranDisiplin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RekomendasiHukdis)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tanggal_Sidang_Pra_DPK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Catatan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tanggal_Sidang_DPK)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hukuman)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Catatan_Sidang)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="UbahDataDPK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Catatan Pra DPK</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form">
                    <fieldset id="SubmitForm">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table style="border:0px solid black; width:100%">
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">ID</label>
                                            <input type="text" class="form-control" id="ID" name="ID" placeholder="ID" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">NIP</label>
                                            <input type="text" class="form-control" id="NIP" name="NIP" placeholder="NIP" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="catatan">Tanggal Sidang DPK</label>
                                            <input type="text" class="form-control" id="Tanggal_Sidang" name="Tanggal_Sidang" />
                                            @*@Html.TextBox("Tanggal_Sidang", "Tanggal_Sidang", new { @id = "Tanggal_Sidang", @class = "form-control input-md col-md-1", placeholder = "dd-mm-yyyy" })*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="KeputusanSidang">Keputusan Sidang</label>
                                            @Html.DropDownList("KeputusanSidang", ViewBag.Hukdis as SelectList, new { @class = "mdb-select form-control", required = "required", @id = "KeputusanSidang" })
                                            @*<textarea class="form-control" id="KeputusanSidang" rows="5" name="KeputusanSidang"></textarea>*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="KeputusanSidang">Catatan Sidang</label>
                                            <textarea class="form-control" id="Catatan_Sidang" rows="5" name="Catatan_Sidang"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="UbahData()">Ubah Data</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UbahDataSidangDPK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Konfirmasi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Apakah Anda yakin untuk mengirim data ini ?</div>
            <div class="form-group" style="display:none;">
                <div class="col">
                    <label for="ID">ID</label>
                    <input type="text" class="form-control" id="IDX" name="ID" placeholder="ID" disabled="disabled" />
                </div>
            </div>
            <div class="form-group" style="display:none;">
                <div class="col">
                    <label for="ID">NIP</label>
                    <input type="text" class="form-control" id="NIPX" name="NIP" placeholder="NIP" disabled="disabled" />
                </div>
            </div>
            <div class="modal-footer">
                <label id="ID" name="ID"></label>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
                <input class="btn btn-primary" onclick="BuatSK()" value="Kirim" type="button" />
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {

            $("#Tanggal_Sidang").datepicker({
                format: 'dd-MM-yyyy', //'M Y',
                onSelect: function () {
                    $(this).change();
                }
            })
        });
    });
    $("#GridLoad").click(function () {
        window.location = '@Url.Action("Index", "DPK")?TanggalSidang=' + $("#TanggalSidang").val();
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
        });
    function Update(ID, NIP, KeputusanSidang, Tanggal_Sidang, Catatan_Sidang) {
        $('#ID').val(ID);
        $('#NIP').val(NIP);
        $('#KeputusanSidang').val(KeputusanSidang);
        $('#Tanggal_Sidang').val(Tanggal_Sidang);
        $('#Catatan_Sidang').val(Catatan_Sidang);
        $('#UbahDataDPK').modal('show');
    }
    function SendData(ID, NIP) {
        $('#IDX').val(ID);
        $('#NIPX').val(NIP);
        $('#UbahDataSidangDPK').modal('show');
    }

    function BuatSK() {
        var dpObj = {
            ID: $('#IDX').val(),
            NIP: $('#NIPX').val()
        };
        $.ajax({
            url: "/DPK/SK",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Kirim Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "DPK")'
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
                window.location.href = '@Url.Action("Index", "DPK")'
            }
        });
    }
    function UbahData() {
        var dpObj = {
            ID: $('#ID').val(),
            NIP: $('#NIP').val(),
            KeputusanSidang: $('#KeputusanSidang').val(),
            Tanggal_Sidang: $('#Tanggal_Sidang').val(),
            Catatan_Sidang: $('#Catatan_Sidang').val()
        };
        $.ajax({
            url: "/DPK/UbahData",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Update berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "DPK")'
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
                window.location.href = '@Url.Action("Index", "DPK")'
            }
        });
    }
    $(document).ready(function () {
    });
    $("#downloadtoexcel").click(function () {
                //var selectedRow = pBrand + "|" + pSoldTo + "|" + pCFC + "|" + pDistributor;
        window.location = '@Url.Action("DownloadToExcel2", "DPK")?TanggalSidang=' + $("#TanggalSidang").val();
                setTimeout(function () {
                    waitingDialog.hide();
                }, 1000);
         });
</script>