@model SIMHUKDIS.Models.clsSuratMasuk
@{
    ViewBag.Title = "Ubah Surat Masuk";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="pd-20 card-box mb-30">
    @using (Html.BeginForm("Edit", "SuratMasuk", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form>
        <div class="form-group row">
            @*<div class="col-sm-6 mb-3 mb-sm-0">
                <label  class="control-label ">No. Agenda *</label>
                @Html.TextBoxFor(model => model.NoAgenda, "", new { @id = "NoAgenda", @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.NoAgenda, "", new { @class = "text-danger" })
            </div>*@
            <div class="col">
                <label class="control-label ">No. Surat *</label>
                @Html.TextBoxFor(model => model.NoSurat, "", new { @id = "NoSurat", @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.NoSurat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label class="control-label ">Asal Surat *</label>
                @Html.TextBoxFor(model => model.AsalSurat, "", new { @id = "AsalSurat", @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.AsalSurat, "", new { @class = "text-danger" })
            </div>
            <div class="col-sm-6">
                <label class="control-label ">Tanggal Surat *</label>
                @Html.TextBoxFor(model => model.TanggalSurat, "{0:dd MM yyyy}", new { @type = "text", @id = "TanggalSurat", @class = "form-control date-picker", required = "required" })
                @Html.ValidationMessageFor(model => model.TanggalSurat, "", new { @class = "text-danger" })
                @* @Html.TextBoxFor(model => model.TanggalSurat, "{0:dd-MM-yyyy}", new { @class = "form-control date-picker", @id = "TanggalSurat" })*@
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label class="control-label ">Perihal *</label>
                @Html.TextAreaFor(model => model.perihal, new { @id = "perihal", @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.perihal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label class="control-label ">Satuan Kerja *</label>
                @Html.DropDownListFor(model => model.KODE_SATUAN_KERJA, ViewBag.Satker as SelectList, new { @class = "custom-select2 form-control", required = "required", @id = "KODE_SATUAN_KERJA" })
                @*    @Html.DropDownList("KODE_SATUAN_KERJA", ViewBag.Satker as SelectList, new { @class = "custom-select2 form-control", required = "required", @id = "KODE_SATUAN_KERJA", @onchange = "GetUnit()" })*@
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label class="control-label ">Unit Kerja *</label>
                @Html.DropDownListFor(model => model.Kode_Unit_Kerja, ViewBag.Unit_Kerja as SelectList, new { @id = "Kode_Unit_Kerja", @class = "custom-select2 form-control" })
                @*     @Html.DropDownList("Kode_Unit_Kerja", ViewBag.Unit_Kerja as SelectList, new { @class = "custom-select2 form-control", @id = "Kode_Unit_Kerja" })*@
            </div>
        </div>
        <div class="form-group row" style="display:none;">
            <div class="col">
                <label class="control-label ">Status *</label>
                @Html.TextArea("UsulStatus", "1", new { @id = "UsulStatus", @class = "form-control", required = "required" })

            </div>
        </div>
        <div class="form-group row" id="LampiranSP">
            <div class="col">
                <label class="control-label ">Lampiran Surat Pengantar *</label>
                @Html.TextBox("LampiranSurat1", "", new { @type = "file", @id = "LampiranSurat1", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranSurat1", "", new { @class = "text-danger" })
                @if (Model.LampiranSurat1 == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranSurat1, "DownloadFile1", new { fileName = Model.LampiranSurat1, @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" id="LampiranBAP">
            <div class="col">
                <label class="control-label ">Lampiran BAP</label>
                @Html.TextBox("LampiranSurat2", "", new { @type = "file", @id = "LampiranSurat2", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranSurat2", "", new { @class = "text-danger" })
                @if (Model.LampiranSurat2 == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranSurat2, "DownloadFile2", new { fileName = Model.LampiranSurat2, @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" id="LampiranSTP">
            <div class="col">
                <label class="control-label ">Lampiran Surat Tugas Pemeriksaan</label>
                @Html.TextBox("LampiranSurat3", "", new { @type = "file", @id = "LampiranSurat3", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranSurat3", "", new { @class = "text-danger" })
                @if (Model.LampiranSurat3 == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranSurat3, "DownloadFile3", new { fileName = Model.LampiranSurat3, @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" id="LampiranSPanggilan">
            <div class="col">
                <label class="control-label ">Lampiran Surat Panggilan</label>
                @Html.TextBox("LampiranSurat4", "", new { @type = "file", @id = "LampiranSurat4", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranSurat4", "", new { @class = "text-danger" })
                @if (Model.LampiranSurat4 == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranSurat4, "DownloadFile4", new { fileName = Model.LampiranSurat4, @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" id="LHP">
            <div class="col">
                <label class="control-label ">Lampiran Laporan Hasil Pemeriksaan</label>
                @Html.TextBox("LampiranLHP", "", new { @type = "file", @id = "LampiranLHP", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranLHP", "", new { @class = "text-danger" })
                @if (Model.LampiranLHP == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranLHP, "DownloadFile8", new { fileName = Model.LampiranLHP, @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" id="SPTMJ">
            <div class="col">
                <label class="control-label ">Lampiran Laporan Surat Pernyataan Tanggung Jawab Mutlak</label>
                @Html.TextBox("LampiranSPTJM", "", new { @type = "file", @id = "LampiranSPTJM", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranSPTJM", "", new { @class = "text-danger" })
                @if (Model.LampiranSPTJM == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranSPTJM, "DownloadFile9", new { fileName = Model.LampiranSPTJM, @class = "form-control" })
                }
            </div>
        </div>
        <div class="form-group row" id="Lainnya">
            <div class="col">
                <label class="control-label ">Lampiran Dokumen Lainnya</label>
                @Html.TextBox("LampiranSurat5", "", new { @type = "file", @id = "LampiranSurat5", @class = "form-control", accept = "application/pdf" })
                @Html.ValidationMessage("LampiranSurat5", "", new { @class = "text-danger" })
                @if (Model.LampiranSurat5 == "")
                {
                }
                else
                {
                    <div style="width:5px;">
                        <label></label>
                    </div>
                    @Html.ActionLink(Model.LampiranSurat5, "DownloadFile5", new { fileName = Model.LampiranSurat5, @class = "form-control" })
                }
            </div>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ubah Data" class="btn btn-primary" />
                @*<button type="button" id="InsertData" class="btn btn-success" style="background-color:teal;"></button> | @Html.ActionLink("Back to List", "Index")*@
            </div>
        </div>
    </form>
    }
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //GetUnit();      
    });
    $('#LampiranSurat1').on('change', function () {
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var file1 = $(this).get(0).files[i].size;
            if (file1) {
                var file_size = $(this).get(0).files[i].size;
                if (file_size > 1000000) {
                    Swal.fire({
                        icon: 'error',
                        title: "File lebih dari 1MB!",
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('#LampiranSurat1').val('');
                } else {

                }
            }
        }
    });
    $('#LampiranSurat2').on('change', function () {
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var file1 = $(this).get(0).files[i].size;
            if (file1) {
                var file_size = $(this).get(0).files[i].size;
                if (file_size > 5000000) {
                    Swal.fire({
                        icon: 'error',
                        title: "File upload size is larger than 5MB!",
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('#LampiranSurat2').val('');
                } else {

                }
            }
        }
    });
    $('#LampiranSurat3').on('change', function () {
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var file1 = $(this).get(0).files[i].size;
            if (file1) {
                var file_size = $(this).get(0).files[i].size;
                if (file_size > 5000000) {
                    Swal.fire({
                        icon: 'error',
                        title: "File upload size is larger than 5MB!",
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('#LampiranSurat3').val('');
                } else {

                }
            }
        }
    });
    $('#LampiranSurat4').on('change', function () {
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var file1 = $(this).get(0).files[i].size;
            if (file1) {
                var file_size = $(this).get(0).files[i].size;
                if (file_size > 5000000) {
                    Swal.fire({
                        icon: 'error',
                        title: "File upload size is larger than 5MB!",
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('#LampiranSurat4').val('');
                } else {

                }
            }
        }
    });
    $('#LampiranSurat5').on('change', function () {
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var file1 = $(this).get(0).files[i].size;
            if (file1) {
                var file_size = $(this).get(0).files[i].size;
                if (file_size > 5000000) {
                    Swal.fire({
                        icon: 'error',
                        title: "File upload size is larger than 5MB!",
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('#LampiranSurat5').val('');
                } else {

                }
            }
        }
    });
    $('#LampiranSurat_LHA').on('change', function () {
        for (var i = 0; i < $(this).get(0).files.length; ++i) {
            var file1 = $(this).get(0).files[i].size;
            if (file1) {
                var file_size = $(this).get(0).files[i].size;
                if (file_size > 5000000) {
                    Swal.fire({
                        icon: 'error',
                        title: "File upload size is larger than 5MB!",
                        showConfirmButton: false,
                        timer: 3000
                    })
                    $('#LampiranSurat_LHA').val('');
                } else {

                }
            }
        }
    });

    function GetUnit() {
        var SatuanKerja = $('#KODE_SATUAN_KERJA').val();
        $.ajax({
            type: "GET",
            url: "/UsulHukdis/GetUnitKerja?",
            dataType: "json",
            data: { KodeSatker: SatuanKerja },
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                if (result.length > 0) {
                    $('#Kode_Unit_Kerja').empty();
                    //$("#Unit_Kerja").append('<option value="-1">Pilih Unit Kerja</option>');
                    for (var i = 0; i < result.length; i++) {
                        $("#Kode_Unit_Kerja").append('<option value="' + result[i].Kode_Unit_Kerja + '" >' + result[i].Unit_Kerja + '</option>');
                        //options += '<option value="' + result[i].Kode_Unit_Kerja + '">' + result[i].Unit_Kerja + '</option>';
                    }
                }
                else {
                    $('#Kode_Unit_Kerja').empty();
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: "Tidak ditemukan",
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }


</script>
