@model IEnumerable<simhukdis.Models.clsDisposisi>
@{
    ViewBag.Title = "DISPOSISI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Daftar Disposisi Sub Koordinator</h6>
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="table table-primary" style="white-space: nowrap; text-align: center;">
                    <tr>
                        <th>
                            Aksi
                        </th>
                        @*<th>
                                ID
                            </th>*@
                        <th>
                            No Surat
                        </th>
                        <th>
                            Asal Surat
                        </th>
                        <th>
                            Tanggal Surat
                        </th>
                        <th>
                            Perihal
                        </th>
                        <th>
                            Satker
                        </th>
                        <th>
                            Tanggal Disposisi Kepala Biro
                        </th>
                        <th>
                            Status Disposisi Kepala Biro
                        </th>
                        <th>
                            Catatan Disposisi Kepala Biro
                        </th>
                        <th>
                            Tanggal Disposisi Koordinator
                        </th>
                        <th>
                            Status Disposisi Koordinator
                        </th>
                        <th>
                            Catatan Disposisi Koordinator
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model == null)
                    {
                    }
                    else
                    {
                        foreach (var r in Model)
                        {
                            <tr class="table-bordered table-hover my-3">
                                <td>
                                    <a href="#" onclick="getbyID3('@r.ID')">Proses</a>
                                </td>
                                <td>
                                    @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                                    @*@r.NoSurat*@
                                </td>
                                <td>
                                    @r.AsalSurat
                                </td>
                                <td>
                                    @r.TanggalSurat
                                </td>
                                <td>
                                    @r.perihal
                                </td>
                                <td>
                                    @r.SATUAN_KERJA
                                </td>
                                <td>
                                    @r.DisposisiDate1
                                </td>
                                <td>
                                    @r.DisposisiStatus1
                                </td>
                                <td>
                                    @r.Catatan1
                                </td>
                                <td>
                                    @r.DisposisiDate2
                                </td>
                                <td>
                                    @r.DisposisiStatus2
                                </td>
                                <td>
                                    @r.Catatan2
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="ProsesDisposisi3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Proses Surat Masuk</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="Form">
                    <fieldset id="SubmitForm">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table style="border:0px solid black; width:100%">
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">ID</label>
                                            <input type="text" class="form-control" id="ID3" name="ID3" placeholder="ID3" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">UserID</label>
                                            <input type="text" class="form-control" id="UserID" name="UserID" placeholder="UserID" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="display:none;">
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="ID">KodeSatker</label>
                                            <input type="text" class="form-control" id="KodeSatker" name="KodeSatker" placeholder="KodeSatker" disabled="disabled" />
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label style="font-weight: bold;color:red;" class="control-label ">Satuan Kerja *</label>
                                            @Html.DropDownList("Satker", ViewBag.Satker as SelectList, new { @class = "form-control", required = "required", @id = "Satker", @readonly = "True" })
                                            @Html.ValidationMessage("Satker", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label style="font-weight: bold;color:red;" class="control-label ">Konseptor *</label>
                                            @Html.DropDownList("Konseptor", ViewBag.Konseptor as SelectList, new { @class = "form-control", required = "required", @id = "Konseptor" })
                                            @Html.ValidationMessage("Konseptor", "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="Disposisi_Status">Proses</label>
                                            @Html.DropDownList("DisposisiStatus3", new List<SelectListItem>
                                                                                                {
                                                                                                    new SelectListItem{ Text = "TL", Value = "01" },
                                                                                                    new SelectListItem{ Text = "Lainnya", Value = "02" }
                                                                                                }, htmlAttributes: new { @class = "form-control", @id = "DisposisiStatus3" }
                                                                                            )
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="Disposisi_Status">Dokumen yang akan dibuat</label>
                                            @Html.DropDownList("Dokumen_Yang_Akan_Dibuat", new List<SelectListItem>
                                                                                                {
                                                                                                    new SelectListItem{ Text = "Telaah", Value = "01" },
                                                                                                    new SelectListItem{ Text = "SK", Value = "02" }
                                                                                                }, htmlAttributes: new { @class = "form-control", @id = "Dokumen_Yang_Akan_Dibuat" }
                                                                                            )
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <div class="col">
                                            <label for="catatan">Catatan</label>
                                            <textarea class="form-control" id="Catatan3" rows="3" name="Catatan3"></textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" onclick="ProsesDisposisi3()">Proses</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function getbyID3(ID) {
        $.ajax({
            url: "/Disposisi3/getbyID/" + ID,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#ID3').val(result.ID);
                $('#Konseptor').val(result.UserID);
                $('#Satker').val(result.KODE_SATUAN_KERJA);
                $('#ProsesDisposisi3').modal('show');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    function ProsesDisposisi3() {
        var dpObj = {
            ID: $('#ID3').val(),
            Catatan3: $('#Catatan3').val(),
            DisposisiStatus3: $('#DisposisiStatus3').val(),
            Konseptor: $('#Konseptor').val(),
            Dokumen_Yang_Akan_Dibuat: $('#Dokumen_Yang_Akan_Dibuat').val()
        };
        $.ajax({
            url: "/Disposisi3/Add",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Disposisi berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "Disposisi3")'
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }                
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'error',
                    title: result.toString(),
                    showConfirmButton: false,
                    timer: 3000
                })
                window.location.href = '@Url.Action("Index", "Disposisi3")'
            }
        });
    }
</script>