@model IEnumerable<SIMHUKDIS.Models.clsMonitoring>

@{
    ViewBag.Title = "Monitoring";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card-box mb-30">
    <div class="col-md-3">
        <label></label>
    </div>
    @Html.ValidationSummary(true)
    <div class="pb-20">

        <table class="table data-table-export" id="TableID">
            <thead class="table table-primary">
                <tr>
                    <th style="white-space: nowrap; text-align: center; width:5%;">
                        No Surat
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Perihal
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        NIP
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Tanggal Input
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Konseptor
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Surat Masuk
                    </th>

                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Disposisi Kepala Biro
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Disposisi Koordinator
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Disposisi Sub Koordinator
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Telaah
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Pra DPK
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Sidang DPK
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Hasil Sidang / Surat Keputusan
                    </th>
                    <th style="white-space: nowrap; text-align: center;width:5%;">
                        Penyampaian Hasil Sidang
                    </th>
                </tr>
            </thead>

            <tbody >
                @foreach (var r in Model)
                {
                    if (@r.Status == "0")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>

                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "1")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "2")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "3")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate2
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "4")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate2
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate3
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_Telaah
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "5")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate2
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate3
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_Telaah
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "6")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td>
                                @r.NIP
                            </td>
                            <td>
                                @r.Tanggal_Input
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_Telaah
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_PraDPK
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "7")
                    {
                        if (r.Tanggal_Telaah == "01 January 1900")
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                                </td>
                                <td>
                                    @r.Perihal
                                </td>
                                <td>
                                    @r.NIP
                                </td>
                                <td>
                                    @r.Tanggal_Input
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.TanggalSurat
                                </td>

                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.DisposisiDate1
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.DisposisiDate2
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.DisposisiDate3
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-close-round"></i>
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-close-round"></i>
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-close-round"></i>
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.Tanggal_SK
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-close-round"></i>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                                </td>
                                <td>
                                    @r.Perihal
                                </td>
                                <td>
                                    @r.NIP
                                </td>
                                <td>
                                    @r.Tanggal_Input
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.TanggalSurat
                                </td>

                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.DisposisiDate1
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.DisposisiDate2
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.DisposisiDate3
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.Tanggal_Telaah
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.Tanggal_PraDPK
                                </td>
                                <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.Tanggal_DPK
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-checkmark-round"></i>
                                    <br /><label></label>
                                    @r.Tanggal_SK
                                </td>
                                <td style="text-align:center;color:red;" class="icon">
                                    <i class="icon-copy ion-close-round"></i>
                                </td>
                            </tr>
                        }

                    }
                    else if (@r.Status == "8")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate2
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate3
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_Telaah
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_PraDPK
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_DPK
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                    </td>
                    <td style="text-align:center;color:red;" class="icon">
                        <i class="icon-copy ion-close-round"></i>
                    </td>
                </tr>
                    }
                    else if (@r.Status == "9")
                    {
                <tr>
                    <td>
                        @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                    </td>
                    <td>
                        @r.Perihal
                    </td>
                    <td>
                        @r.NIP
                    </td>
                    <td>
                        @r.Tanggal_Input
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.TanggalSurat
                    </td>

                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate1
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate2
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.DisposisiDate3
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_Telaah
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_PraDPK
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                        <br /><label></label>
                        @r.Tanggal_DPK
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                    </td>
                    <td style="text-align:center;color:mediumspringgreen;" class="icon">
                        <i class="icon-copy ion-checkmark-round"></i>
                    </td>
                </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<script src="/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $('#TableID').dataTable({
        "scrollX": true
    });
</script>