@model IEnumerable<SIMHUKDIS.Models.clsMonitoring>

@{
    ViewBag.Title = "Monitoring";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card-box mb-30">
    <div class="col-md-3">
        <label></label>
    </div>
    @Html.ValidationSummary(true)
    <div class="pb-20">
        <table class="table hover data-table-export">
            <thead>
                <tr>
                    <th style="white-space: nowrap; text-align: center;">
                        No Surat
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Perihal
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Surat Masuk
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Disposisi Kepala Biro
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Disposisi Koordinator
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Disposisi Sub Koordinator
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Telaah
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Pra DPK
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Sidang DPK
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Hasil Sidang DPK
                    </th>
                    <th style="white-space: nowrap; text-align: center;">
                        Penyampaian Hasil Sidang
                    </th>
                </tr>
            </thead>

            <tbody class="widget-icon">
                @foreach (var r in Model)
                {
                    if (@r.Status == "0")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>

                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "1")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "2")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "3")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "4")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "5")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_Telaah
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "6")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_Telaah
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_PraDPK
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "7")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_Telaah
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_PraDPK
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_DPK
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "8")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_Telaah
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_PraDPK
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_DPK
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                            </td>
                            <td style="text-align:center;color:red;" class="icon">
                                <i class="icon-copy ion-close-round"></i>
                            </td>
                        </tr>
                    }
                    else if (@r.Status == "9")
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(r.NoSurat, "Details", new { ID = r.ID })
                            </td>
                            <td>
                                @r.Perihal
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.TanggalSurat
                            </td>

                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate1
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate2
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.DisposisiDate3
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_Telaah
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_PraDPK
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                                <br /><label></label>
                                @r.Tanggal_DPK
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                            </td>
                            <td style="text-align:center;color:mediumspringgreen;" class="icon">
                                <i class="icon-copy ion-checkmark-round"></i>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<script src="/Scripts/jquery-3.6.0.min.js"></script>
