@model SIMHUKDIS.Models.clsSatkerKonseptor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tambah Satuan Kerja Konseptor</h6>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col">
                    <label style="font-weight: bold;color:red;" class="control-label ">Satuan Kerja *</label>
                    @Html.DropDownList("KODE_SATUAN_KERJA", ViewBag.Satker as SelectList, new { @class = "form-control", required = "required", @id = "KODE_SATUAN_KERJA" })
                    @*@Html.ValidationMessage("Satker", "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label style="font-weight: bold;color:red;" class="control-label ">Konseptor *</label>
                    @Html.DropDownListFor(model => model.UserID, ViewBag.Konseptor as SelectList, new { @class = "form-control", required = "required", @id = "UserID" })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <input type="submit" value="Create" class="btn btn-primary" onclick="Insert()"/> | @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </form>
    </div>
</div>
    }
<script type="text/javascript">
    function Insert() {
        var dpObj = {
            KODE_SATUAN_KERJA: $('#KODE_SATUAN_KERJA').val(),
            UserID: $('#UserID').val()
        };
        $.ajax({
            url: "/SatkerKonseptor/Create",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Simpan Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "SatkerKonseptor")'
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Create", "SatkerKonseptor")'
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'warning',
                    title: errormessage.responseText,
                    showConfirmButton: false,
                    timer: 3000
                })
                window.location.href = '@Url.Action("Create", "SatkerKonseptor")'
            }
        });
    }
</script>
