@model IEnumerable<SIMHUKDIS.Models.clsSatkerKonseptor>

@{
    ViewBag.Title = "Wilayah Kerja Konseptor";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card-box mb-30">

        @if (@ViewBag.UserGroup == "01")
        {
            <button id="GridLoad" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" value="New" onclick="location.href='@Url.Action("Create", "SatkerKonseptor")'">
                Tambah Data
            </button>
        }
        else
        {
            <button id="GridLoad" class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal" value="New" onclick="location.href='@Url.Action("Create", "SatkerKonseptor")'" disabled>
                Tambah Data
            </button>
        }


        <div style="height: 15px"></div>
        <div class="pb-20">
            <table class="table hover data-table-export">
                <thead class="table table-primary">
                    <tr style="text-align:center;">
                        <th>
                            Aksi
                        </th>
                        <th>
                            Satuan Kerja
                        </th>
                        <th>
                            Nama Konseptor
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="table-bordered table-hover my-3">
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { KODE_SATUAN_KERJA = item.KODE_SATUAN_KERJA, UserID = item.UserID }) |
                                <a href="#" onclick="HapusSK('@item.KODE_SATUAN_KERJA')">Hapus</a>
                                @*@Html.ActionLink("Delete", "Delete", new { Satker = item.KODE_SATUAN_KERJA })*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SATUAN_KERJA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fullname)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

<div class="modal fade" id="DeleteSK" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Apakah Anda yakin untuk menghapus data ini ?</div>
            <div class="modal-footer">
                <label id="ID" name="ID"></label>
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <input class="btn btn-primary" onclick="HapusDataSK()" value="Hapus" type="button" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function HapusSK(ID) {
        $('#ID').val(ID);
        $('#DeleteSK').modal('show');
    }
    function HapusDataSK() {
        var dpObj = {
            Satker: $('#ID').val()
            };
        $.ajax({
            url: "/SatkerKonseptor/Delete",
            data: JSON.stringify(dpObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.toString() == "Success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Hapus Data berhasil !',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    window.location.href = '@Url.Action("Index", "SatkerKonseptor")'
                }
                else {
                    Swal.fire({
                        icon: 'warning',
                        title: result.toString(),
                        showConfirmButton: false,
                        timer: 3000
                    })
                }
            },
            error: function (errormessage) {
                Swal.fire({
                    icon: 'warning',
                    title: errormessage.responseText,
                    showConfirmButton: false,
                    timer: 3000
                })
            }
        });
    }
</script>